.evaluateformdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto; 
    padding: 20px;
    border: 2px solid #ff9999;
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #FFBBBB;
    width: 90%; 
    max-width: 600px;
    transition: transform 0.3s;
}

.evaluateformdiv:hover {
    transform: translateY(-5px);
}

.evaluateinput {
    font-size: 18px;
    padding: 10px; 
    height: 2.5rem;
    width: 100%; 
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

.evaluateform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.evaluateinputdiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
}


@media (max-width: 768px) {
    .evaluateinputdiv {
        grid-template-columns: 1fr; 
    }
}

.evaluateheader {
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center; 
}

.evaluatebutton {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 100%; 
    max-width: 200px;
    height: 2.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.eres {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    margin-top: 10px;
}


@media (max-width: 480px) {
    .evaluateformdiv {
        width: 95%; 
        padding: 15px; 
    }

    .evaluateheader {
        font-size: 22px;
    }

    .evaluatebutton {
        font-size: 18px;
        padding: 8px;
    }

    .evaluateinput {
        font-size: 16px;
        padding: 8px; 
    }
}
