.evaluateformdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #ff9999;
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #FFBBBB; 
    width: 46%;
    transition: transform 0.3s;
}
.evaluateinput{
    font-size: 18px;
    padding: 5px;
    height: 2rem;
    width: inherit;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.evaluateform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.evaluateinputdiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.evaluateheader{
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    margin-top: 10px;
}
.evaluatebutton{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 30%;
    height: 2.45rem;
    width: auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.eres{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    margin-top: 10px;
}