.existingrulediv {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #ff9999;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #FFBBBB;
    width: 60%;
    min-height: 60%;
    height: 700px; 
    overflow-y: auto; 
    transition: transform 0.3s;
    padding-top: 1rem; 
}
.rulecheckbox{
    width: 40px;
    height: 16px;
}

.combinerulebutton{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 30%;
    height: 2.45rem;
    width: auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.existingrulediv ul {
    width: 100%;
    padding: 0;
     overflow-y: auto;
    margin: 0;
    list-style-type: none; 
}

.existingrulediv li {
    padding: 10px;
    border-bottom: 1px solid #ff9999;
    text-align: left;
    width: 100%;
}

.existingruleheader{
    font-size: 25px;
    top: 0;
    gap: 70px;
    display: flex;
    position: static;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.existingruleheader{
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}
