.ruleformdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #ff9999;
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #FFBBBB; 
    width: 50%;
    transition: transform 0.3s;
}

.ruleformdiv:hover {
    transform: translateY(-5px);
}

.formdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    width: 40%;
}

.ruleformheader {
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.ruleinput {
    font-size: 18px;
    padding: 5px;
    height: 2rem;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Make the input field take the full width */
}

.createrulebuttondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.createrulebutton {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    width: 50%;
    height: 2.75rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.createrulebutton:hover {
    background-color: #45a049;
}

.createrulebutton:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.createrulebutton:disabled:hover {
    background-color: #cccccc;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .ruleformdiv {
        width: 80%; /* Increase the width for tablets and small devices */
    }

    .formdiv {
        width: 70%; /* Increase the width of the form for smaller devices */
    }

    .ruleinput {
        font-size: 16px; /* Adjust the font size */
    }

    .createrulebutton {
        font-size: 18px;
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .ruleformdiv {
        width: 90%; /* Almost full width for mobile phones */
        padding: 15px;
    }

    .formdiv {
        width: 90%;
    }

    .ruleformheader {
        font-size: 22px; /* Adjust font size for mobile */
    }

    .ruleinput {
        font-size: 14px; /* Smaller font size for mobile */
    }

    .createrulebutton {
        font-size: 16px; 
        width: 90%;
    }
}
